{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'sizes:body_area_list'%}">{% blocktrans %}Sizes{% endblocktrans %}</a></li>
    <li class="breadcrumb-item active">{% blocktrans %}Register{% endblocktrans %}</li>
{% endblock breadcrumb %}
{% block page_header_title %}{% blocktrans %}Body Area{% endblocktrans %}{% endblock page_header_title %}
{% block page_header_sm_title %} {% blocktrans %}In this form you can create a body area{% endblocktrans %} {% endblock page_header_sm_title %}
{% block menu_active_configuration %}
	<li class="has-sub active ">
{% endblock menu_active_configuration %}
{% block menu_size %}
	<li class="has-sub active">
		<a ><b class="caret active"></b>{% blocktrans %}Sizes{% endblocktrans %}</a>
		<ul class="sub-menu active">
			<li class="active"><a href="{% url 'sizes:body_area_list'%}"  >{% blocktrans %}Body Area{% endblocktrans %}</a></li>
			<li><a href="{% url 'sizes:body_size_list'%}">{% blocktrans %}Sizes{% endblocktrans %}</a></li>
		</ul> 
	</li>
{% endblock menu_size %}
{% block content %}

<div class="row">
    <!-- begin col-6 -->
    <div class="col-xl-12">
        <!-- begin panel -->
        <div class="panel panel-success" data-sortable-id="form-stuff-10">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">{% blocktrans %}Body Area Register{% endblocktrans %}</h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                {{form.code|as_crispy_field }}
                            </div>
                            </div>
                        <div class="col-md-8 col-md-offset-2 ">
                            <div class="form-group">
                                {{form.name|as_crispy_field }}
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-md-offset-1 ">
                            <div class="form-group">
                                {{form.description|as_crispy_field }}
                            </div>
                            </div>
                            </div> 
                            <div class="row">
                            <div class="col-md-12 col-md-offset-1 ">
                                <div class="form-group">
                                    <div class="switcher switcher-success">
                                        {{form.status|as_crispy_field }}
                                    </div>
                                </div>
                            </div>
                            </div>
                            
                            <div class="pull-right">								
                        <button type="submit" class="btn btn-sm btn-primary m-r-5 ">{% blocktrans %}Save{% endblocktrans %}</button>
                        <a class="btn btn-sm btn-secodary m-r-5" href="{% url 'sizes:body_area_list'%}">{% blocktrans %}Cancel{% endblocktrans %}</a>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- end panel-body -->
            
        </div>
        <!-- end panel -->
    </div>
    
</div>
<!-- end row -->    
{% endblock %}
