{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Request Type{% endblocktrans %}</a></li>
    <li class="breadcrumb-item active">{% blocktrans %}Register{% endblocktrans %}</li>
{% endblock breadcrumb %}
{% block menu_active_configuration %}<li class="has-sub active">{% endblock menu_active_configuration %}
{% block menu_request_type %}														
    <li class="has-sub active"><a href="{% url 'requests:request_type_list'%}">{% blocktrans %}Requests{% endblocktrans %}</a></li>
{% endblock menu_request_type %}

{% block page_header_title %}{% blocktrans %}Request Type{% endblocktrans %}{% endblock page_header_title %}
{% block page_header_sm_title %} {% blocktrans %}In this form you can create a request type{% endblocktrans %} {% endblock page_header_sm_title %}
{% block content %}

<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-12">
					<!-- begin panel -->
					<div class="panel panel-success" data-sortable-id="form-stuff-10">
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<h4 class="panel-title">{% blocktrans %}Request Type Register{% endblocktrans %}</h4>
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div class="panel-body">
							<form method="post" class="form-horizontal">
                                {% csrf_token %}
								<fieldset>									
                                    <div class="row">
                                     <div class="col-md-4 col-md-offset-2">
                                        <div class="form-group">
                                            {{form.code|as_crispy_field }}
                                        </div>
                                     </div>
                                    <div class="col-md-8 col-md-offset-2 ">
                                        <div class="form-group">
                                            {{form.name|as_crispy_field }}
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-4 col-md-offset-1 ">
                                        <div class="form-group">
                                         {{form.detail|as_crispy_field }}
                                        </div>
                                      </div>
                                      <div class="col-md-4 col-md-offset-1 ">
                                        <div class="form-group">
                                         <div id="div_element_type" class="form-group">        
                                            <label for="id_element_type" class="">
                                                {% blocktrans %}Element Type{% endblocktrans %}
                                            </label>                                        
                                            <div class="">
                                            <select name="element_type" class="form-control select select2-data form-control" id="id_element_type" data-cities-url="{% url 'elements:select_options_class_for_type'  %}">														
                                            {% for option  in element_type_options  %}
                                                <optgroup label="{{ option.group.name }}">
                                                    {% for op  in option.options  %}
                                                    <option value="{{op.id}}"  >																	
                                                        <span>{{op.name|title }}</span>
                                                    </option>
                                                    {% endfor %}
                                                </optgroup>															
                                            {% endfor %}	
                                            </select>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4 col-md-offset-1 ">
                                        <div class="form-group">
                                         
                                         <div id="div_element_classification" class="form-group">        
                                            <label for="id_element_classification" class="">
                                                {% blocktrans %}Element Classification{% endblocktrans %}
                                            </label>                                        
                                            <div class="">
                                            <select name="element_classification" class="form-control select ec-tags  form-control" multiple="multiple"  id="id_element_classification">														
                                            {% for option  in classification_options  %}
                                                <optgroup label="{{ option.group.name|title }}">
                                                    {% for op  in option.options  %}
                                                    <option value="{{op.id}}" {% if op.selected %} selected=true {% endif %} >																	
                                                        <span>{{op.name|title }}</span>
                                                    </option>
                                                    {% endfor %}
                                                </optgroup>															
                                            {% endfor %}	
                                            </select>
                                            </div>
                                        </div>

                                        </div>
                                      </div>
                                     </div> 
                                      
                                     <div class="row">                                    
                                      <div class="col-md-6 col-md-offset-2 AdjustForm">                                          
                                          <div class="form-group">
                                            {% if form.code.value  %}
                                                <div class="switcher switcher-success">
                                                    <input type="checkbox" class="checkboxinput form-check-input" name="status" id="id_status" {% if form.status.value  %} checked {% endif %} value="on">
                                                    <label for="id_status" class="form-check-label">Status</label>
                                                </div>
                                            {% else %}
                                                <div class="switcher switcher-success">
                                                    <input type="checkbox" class="checkboxinput form-check-input" name="status" id="id_status" checked value="1">
                                                    <label for="id_status" class="form-check-label">Status</label>
                                                </div>
                                            {% endif %}
                                              <!-- <div class="switcher switcher-success">
                                                  {{form.status|as_crispy_field }}
                                              </div> -->
                                          </div>
                                      </div>
                                     </div> 	
                                     <div class="pull-right">								
                                      <button type="submit" class="btn btn-sm btn-primary m-r-5 ">{% blocktrans %}Save{% endblocktrans %}</button>
                                      <a class="btn btn-sm btn-secondary m-r-5  " href="{%url 'requests:request_type_list'  %}">{% blocktrans %}Cancel{% endblocktrans %}</a>
                                </div>
								</fieldset>
							</form>
						</div>
						<!-- end panel-body -->
						
					</div>
					<!-- end panel -->
				</div>
				
			</div>
			<!-- end row -->
{% endblock %}
{% block custom_js %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>  
<script src="{% static 'js/ajax_select_options_class_for_type.js' %}"></script>
{% endblock custom_js %}
