{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block breadcrumb %}
{% load i18n %}
{% load static %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Element Classification{% endblocktrans %} </a></li>
    <li class="breadcrumb-item active">{% blocktrans %}Register{% endblocktrans %}</li>
{% endblock breadcrumb %}
{% block page_header_title %}{% blocktrans %}Element Classification{% endblocktrans %} {% endblock page_header_title %}
{% block page_header_sm_title %}{% blocktrans %} In this form you can create an element classification{% endblocktrans %} {% endblock page_header_sm_title %}
{% block menu_active_configuration %}<li class="has-sub active">{% endblock menu_active_configuration %}	
{% block menu_element %}
<li class="has-sub active">
	<a ><b class="caret"></b> {% blocktrans %}Elements{% endblocktrans %}</a>
	<ul class="sub-menu">
		<li><a href="{% url 'elements:type_list'%}">{% blocktrans %}Element Type{% endblocktrans %}</a></li>
		<li class="active"><a href="{% url 'elements:classification_list'%}">{% blocktrans %}Element Class{% endblocktrans %}</a></li>
	</ul> 
</li>
{% endblock %}
{% block content %}
    <div class="row">
    <!-- begin col-6 -->
    <div class="col-xl-12">
        <!-- begin panel -->
        <div class="panel panel-success" data-sortable-id="form-stuff-10">
            <!-- begin panel-heading -->
            <div class="panel-heading">
                <h4 class="panel-title">{% blocktrans %}Register Element Classification{% endblocktrans %} </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <!-- end panel-heading -->
            <!-- begin panel-body -->
            <div class="panel-body">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    <fieldset>
                        
                        <div class="row">
                            <div class="col-md-3 col-md-offset-2">
                            <div class="form-group">
                                {{form.code|as_crispy_field }}
                            </div>
                            </div>
                            <div class="col-md-4 col-md-offset-2 ">
                            <div class="form-group">
                                
                                <div id="div_element_type" class="form-group">        
                                    <label for="id_element_type" class="">
                                        {% blocktrans %}Element Type{% endblocktrans %} 
                                    </label>                                        
                                    <div class="">
                                        <select name="element_type" class="form-control select select2-data form-control" id="id_element_type">														
                                        {% for option  in element_type_options  %}
                                            <optgroup label="{{ option.group.name }}">
                                                {% for op  in option.options  %}
                                                <option value="{{op.id}}"  >																	
                                                    <span>{{op.name|title }}</span>
                                                </option>
                                                {% endfor %}
                                            </optgroup>															
                                        {% endfor %}	
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2 ">
                            <div class="form-group">
                                {{form.name|as_crispy_field }}
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-md-offset-1 ">
                            <div class="form-group">
                                {{form.description|as_crispy_field }}
                            </div>
                            </div>
                            </div> 
                            <div class="row">
                            <div class="col-md-12 col-md-offset-1 ">
                            <div class="form-group">
                                {% if form.code.value  %}
                                    <div class="switcher switcher-success">
                                        <input type="checkbox" class="checkboxinput form-check-input" name="status" id="id_status" {% if form.status.value  %} checked {% endif %} value="1">
                                        <label for="id_status" class="form-check-label">Status</label>
                                    </div>
                                {% else %}
                                    <div class="switcher switcher-success">
                                        <input type="checkbox" class="checkboxinput form-check-input" name="status" id="id_status" checked value="1">
                                        <label for="id_status" class="form-check-label">Status</label>
                                    </div>
                                {% endif %}
                                <!-- 
                                <div class="switcher switcher-success">
                                    {{form.status|as_crispy_field }}
                                </div>   -->                               
                                </div>
                            </div>
                            </div> 	
                            <div class="pull-right">								
                        <button type="submit" class="btn btn-sm btn-primary m-r-5 ">{% blocktrans %}Save{% endblocktrans %}</button>
                        <button type="submit" class="btn btn-sm btn-secondary m-r-5 " formnovalidate name="cancel">{% blocktrans %}Cancel{% endblocktrans %}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- end panel-body -->
            
        </div>
        <!-- end panel -->
    </div>
    
</div>
<!-- end row -->

{% endblock %}