{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block menu_active_sub_warehouse %}					
	<li class="has-sub active">
{% endblock menu_active_sub_warehouse %}
{% block sub_menu_active_inventory %}
	<li class="has-sub active ">
{% endblock sub_menu_active_inventory %}
{% block menu_active_entry %}	<li class="active"><a href="{% url 'inventories:inventory_entry_list'%}">{% blocktrans %}Entry{% endblocktrans %}</a></li>	
{% endblock menu_active_entry %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Employee Request{% endblocktrans %}</a></li>
    <li class="breadcrumb-item active">{% blocktrans %}Registre{% endblocktrans %}</li>
{% endblock breadcrumb %}
{% block page_header_title %}{% blocktrans %}Inventary Entry  - Detail{% endblocktrans %}{% endblock page_header_title %}
{% block page_header_sm_title %} {% blocktrans %}In this form you can create Inventary Entry  Detail{% endblocktrans %}  {% endblock page_header_sm_title %}

{% block content %}

			<div class="row">
			<div class="col-xl-12">
				<div class="panel panel-success" data-sortable-id="form-stuff-10">
						<div class="panel-heading">
							<h4 class="panel-title">{% blocktrans %}Head - Inventary Entry{% endblocktrans %} </h4>							
						</div>
						<div class="panel-body">
							<form method="post" class="form-horizontal">	
								<fieldset>									
                                    <div class="row">										
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}WareHouse{% endblocktrans %}
													</label>                                        
														<div class="">
															<select name="warehouse" class="form-control select form-control text-inverse" id="id_check_entry">
																<option value="{{check_entry.warehouse.id}}" selected="true"><strong>{{check_entry.warehouse.name }}</strong></option>
															</select>
														</div>
												</div>											
											</div>
										</div>
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}Date Entry{% endblocktrans %}
													</label>                                        
														<div class="">
															<input name="" id="" readonly class="form-control " type="button" value="{{check_entry.date_entry }}">															
														</div>
												</div>											
											</div>
										</div>
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}Provider{% endblocktrans %}
													</label>                                        
														<div class="">
															<select name="provider" class="form-control select form-control text-uppercase" id="id_check_entry">
																<option value="{{check_entry.provider.id}}" class='text-uppercase' selected="true">{{check_entry.provider.name }}</option>
															</select>
														</div>
												</div>											
											</div>
										</div>
										<div class="col-md-1 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}Invoice{% endblocktrans %}
													</label>                                        
														<div class="">
															<input name="" id="" readonly class="form-control" type="button" value="{{check_entry.bill }}">															
														</div>
												</div>											
											</div>
										</div>
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}Reason Entry{% endblocktrans %}
													</label>                                        
														<div class="">
															<select name="reason" class="form-control select form-control text-uppercase" id="id_check_entry">
																<option value="{{check_entry.reason_movement.id}}" class='text-uppercase' selected="true">{{check_entry.reason_movement.movement_text }}-{{check_entry.reason_movement.reason }}</option>
															</select>
														</div>
												</div>											
											</div>
										</div>	
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<div id="div_id_check_entry" class="form-group">        
													<label for="id_check_entry" class="">
														{% blocktrans %}Status{% endblocktrans %}
													</label>                                        
														<div class="">
														{% if check_entry.status == 1 %}
															<select name="check_entry_status" class="form-control select form-control" id="id_status"
																data-value='{{check_entry.id}}' 
																data-href="{% url 'inventories:inventory_entry_confirm' check_entry.id %}">
																{% for status in  check_entry.STATUS_CHOICES %}
																	<option  value="{{status.0 }}"  {% if check_entry.status == status.0 %} selected="true"{% endif %}> <strong> {{status.1 }}</strong></option>
																{% endfor %}	
															</select>
														{% else %}	
															<span class='badge {{check_entry.status_badge}}'>
																<h5 >{{check_entry.status_text}}</h3>
															</span>
														{% endif %}
														</div>
												</div>											
											</div>
										</div>																			
									</div>	
									
								</fieldset>
							</form>
						</div>												
							<div class="center-block text-center">
								{% if check_entry.status == 1 %}
									<a id="confirm" data-value='{{check_entry.id}}' 
									data-href="{% url 'inventories:inventory_entry_confirm' check_entry.id %}"	
									class="btn btn-sm btn-warning text-white">Confirm Entry</a>
								{% endif %}
								<a class="btn btn-sm btn-secondary m-r-5  text-center" href="{%url 'inventories:inventory_entry_list'  %}">Back</a>
							</div>
							<br>						
					</div>
				</div>


				<!-- begin col-6 -->
				<div class="col-xl-12">
					<!-- begin panel -->
					<div class="panel panel-success" data-sortable-id="form-stuff-10">
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<h4 class="panel-title">{% blocktrans %}Add Entry - Supplies Details{% endblocktrans %} </h4>
							
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div class="panel-body">
							<form method="post" class="form-horizontal">
                                {% csrf_token %}
								<fieldset>		
									<input name="check_entry" id="id_check_entry"   type="hidden" value="{{check_entry.id}}">
									<div class="row">
										<div class="col-md-3 col-md-offset-2">											    
                                        	<div class="form-group">
												<div id="div_id_supply" class="form-group">        
													<label for="id_supply" class="">
														{% blocktrans %}Supply{% endblocktrans %} 
													</label>                                        
													<div class="">
														<select name="supply" class="form-control select select2-data form-control" id="id_supply">														
														{% for option  in supply_options  %}
															<optgroup label="{{ option.group.name }}">
																{% for op  in option.options  %}
																<option value="{{op.id}}"  >																	
																	<span>{{op.name|title }}</span>
																</option>
																{% endfor %}
															</optgroup>															
														{% endfor %}	
														</select>
													</div>
												</div>	
                                        	</div>
                                     	</div>
										<div class="col-md-1 col-md-offset-2 ">
											<div class="form-group">
												<div class="media media-sm m-t-0 ">
													<a class="media center-block text-center" href="javascript:;" >
														<img src="../../../../../../static/img/gallery/empty.jpg" id='image_supply' alt="" class="media-object rounded height-80 width-80  center-block text-center" />
													</a>
												</div>  
											</div>
										</div>
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>{% blocktrans %}Name{% endblocktrans %}  </span>  <span id="supply_name" ></span></li>
													<li class="list-group-item"><span class='badge badge-lime'>{% blocktrans %}Brand{% endblocktrans %}  </span>   <span id="supply_brand" ></span></li>												
												</ul>
											</div>
										</div>
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>{% blocktrans %}Material{% endblocktrans %}  </span>  <span id="supply_material" ></span></li>
													<li class="list-group-item"><span class='badge badge-lime'>{% blocktrans %}Size{% endblocktrans %}  </span>   <span id="supply_size" ></span></li>												
												</ul>
											</div>
										</div>	
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>{% blocktrans %}Color{% endblocktrans %}  </span>  <span id="supply_color" ></span></li>
													<li class="list-group-item"><span class='badge badge-lime'>{% blocktrans %}Units{% endblocktrans %}  </span>   <span id="supply_unid" ></span></li>												
												</ul>
											</div>
										</div>										
									</div>		
									<div class="row">
										
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
											 {{form.location | as_crispy_field }} 
											</div>
										</div>
										<div class="col-md-1 col-md-offset-2 ">
											<div class="form-group">
											 {{form.total | as_crispy_field }} 
											</div>
										</div>
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
											 	{{form.warraty_month | as_crispy_field }}	
											</div>
										</div>	
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
											 	{{form.expire_date | as_crispy_field }}	
											</div>
										</div> 
									</div>

                                     <div class="text-center">								
                                      <button type="submit" class="btn btn-sm btn-primary m-r-5 ">{% blocktrans %}Add{% endblocktrans %}</button>
                                      
                                </div>
								</fieldset>
							</form>
						</div>
						<!-- end panel-body -->
						
					</div>
					<!-- end panel -->
				</div>
				
			</div>
			<!-- end row -->
    
	{% include 'table_base.html' with info=dataTable %}

	<div class="center-block text-center">
		{% if check_entry.status == 1 %}
			<a id="confirm" data-value='{{check_entry.id}}' 
			data-href="{% url 'inventories:inventory_entry_confirm' check_entry.id %}"	
			class="btn btn-sm btn-warning text-white">{% blocktrans %}Confirm Entry{% endblocktrans %}</a>
		{% endif %}
		<a class="btn btn-sm btn-secondary m-r-5  text-center" href="{%url 'inventories:inventory_entry_list'  %}">{% blocktrans %}Back{% endblocktrans %}</a>
	</div>
    
{% endblock %}


{% block custom_js %}
	<link href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'custom_type.js' %}"></script>
	<script src="{% static 'js/ajax_check_entry_detail.js' %}"></script>
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
	
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

	<script src="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
	<script src="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'js/demo/table-manage-buttons.demo.js' %}"></script>
    <script src="{% static 'plugins/highlight.js/highlight.min.js' %}"></script>
    <script src="{% static 'js/demo/render.highlight.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>  
	<script>$(".select2-data").select2({tags: true});</script>
{% endblock custom_js %}
