{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block menu_active_sub_warehouse %}					
	<li class="has-sub active">
{% endblock menu_active_sub_warehouse %}
{% block sub_menu_active_inventory %}
	<li class="has-sub active ">
{% endblock sub_menu_active_inventory %}
{% block menu_active_entry %}	<li class="active"><a href="{% url 'inventories:inventory_entry_list'%}">{% blocktrans %}Entry{% endblocktrans %}</a></li>	
{% endblock menu_active_entry %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Employee Request{% endblocktrans %}</a></li>
    <li class="breadcrumb-item active">{% blocktrans %}Registre{% endblocktrans %}</li>
{% endblock breadcrumb %}
{% block page_header_title %}{% blocktrans %}Inventary Entry  - Update Detail{% endblocktrans %}{% endblock page_header_title %}
{% block page_header_sm_title %} {% blocktrans %}In this form you can Update Inventary Entry  Detail{% endblocktrans %}  {% endblock page_header_sm_title %}

{% block content %}

			<div class="row">
				<!-- begin col-6 -->
				<div class="col-xl-12">
					<!-- begin panel -->
					<div class="panel panel-success" data-sortable-id="form-stuff-10">
						<!-- begin panel-heading -->
						<div class="panel-heading">
							<h4 class="panel-title">{% blocktrans %}Update - Inventary Entry Details{% endblocktrans %} </h4>
							<div class="panel-heading-btn">
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
								<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
							</div>
						</div>
						<!-- end panel-heading -->
						<!-- begin panel-body -->
						<div class="panel-body">
							<form method="post" class="form-horizontal">
                                {% csrf_token %}
								<fieldset>
									<input name="check_entry" id="id_check_entry"   type="hidden" value="{{check_entry.id}}">
									<div class="row">
										<div class="col-md-3 col-md-offset-2">											    
                                        	<div class="form-group">
												<div id="div_id_supply" class="form-group">        
													<label for="id_supply" class="">
														{% blocktrans %}Supply{% endblocktrans %}
													</label>                                        
													<div class="">
														<select name="supply" class="form-control select select2-data form-control" id="id_supply">														
														{% for option  in supply_options  %}
															<optgroup label="{{ option.group.name }}">
																{% for op  in option.options  %}
																<option value="{{op.id}}"  >																	
																	<span>{{op.name|title }}</span>
																</option>
																{% endfor %}
															</optgroup>															
														{% endfor %}	
														</select>
													</div>
												</div>	
                                        	</div>
                                     	</div>
										<div class="col-md-1 col-md-offset-2 ">
											<div class="form-group">
												<div class="media media-sm m-t-0 ">
													<a class="media center-block text-center" href="javascript:;" >
														<img src="../../../media/{{check_detail.supply.get_photo}}" id='image_supply' alt="" class="media-object rounded height-80 width-80  center-block text-center" />
													</a>
												</div>  
											</div>
										</div>
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>Name  </span>  <span id="supply_name" >{{check_detail.supply.name|title }}</span></li>
													<li class="list-group-item"><span class='badge badge-lime'>Brand  </span>   <span id="supply_brand" >{{check_detail.supply.brand|title }}</span></li>												
												</ul>
											</div>
										</div>
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>Material  </span>  <span id="supply_material" >{{check_detail.supply.material|title }}</span></li>
													<li class="list-group-item"><span class='badge badge-lime'>Size  </span>   <span id="supply_size" >{{check_detail.supply.size|title }}</span></li>												
												</ul>
											</div>
										</div>	
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
												<ul class="list-group">
													<li class="list-group-item"><span class='badge badge-lime '>Color  </span>  <span id="supply_color" >{{check_detail.supply.color|title }}</span></li>
													<li class="list-group-item"><span class='badge badge-lime'>Units  </span>   <span id="supply_unid" >{{check_detail.supply.unid_content }}</span></li>												
												</ul>
											</div>
										</div>										
									</div>		
									<div class="row">
										
										<div class="col-md-3 col-md-offset-2 ">
											<div class="form-group">
											 {{form.location | as_crispy_field }} 
											</div>
										</div>
										<div class="col-md-1 col-md-offset-2 ">
											<div class="form-group">
											 {{form.total | as_crispy_field }} 
											</div>
										</div>
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
											 	{{form.warraty_month | as_crispy_field }}	
											</div>
										</div>	
										<div class="col-md-2 col-md-offset-2 ">
											<div class="form-group">
											 	{{form.expire_date | as_crispy_field }}	
											</div>
										</div> 
									</div>

                                     <div class="text-center">								
                                      <button type="submit" class="btn btn-sm btn-primary m-r-5 ">{% blocktrans %}Update{% endblocktrans %}</button>
                                      <a class="btn btn-sm btn-secondary m-r-5  " href="{%url 'inventories:inventory_entry_detail_create'  check_entry.id %}">{% blocktrans %}Back{% endblocktrans %}</a>
                                </div>
								</fieldset>
							</form>
						</div>
						<!-- end panel-body -->
						
					</div>
					<!-- end panel -->
				</div>
				
			</div>
			<!-- end row -->
    



    
{% endblock %}


{% block custom_js %}
	<link href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'custom_type.js' %}"></script>
	<script src="{% static 'js/ajax_check_entry_detail.js' %}"></script>
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
	
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

	<script src="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
	<script src="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'js/demo/table-manage-buttons.demo.js' %}"></script>
    <script src="{% static 'plugins/highlight.js/highlight.min.js' %}"></script>
    <script src="{% static 'js/demo/render.highlight.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<!-- ================== END PAGE LEVEL JS ================== -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>  
	<script>$(".select2-data").select2({tags: true});</script>
{% endblock custom_js %}
