{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block custom_css %}
	<link href="{% static 'css/default/table_base_icon_count.css' %}" rel="stylesheet" />
{% endblock custom_css %}

{% block menu_active_sub_warehouse %}					
	<li class="has-sub active">
{% endblock menu_active_sub_warehouse %}
{% block sub_menu_active_inventory %}
	<li class="has-sub active ">
{% endblock sub_menu_active_inventory %}

{% block menu_active_inventory_movement %}
<li class='active'><a href="{% url 'inventories:inventory_entry_list'%}">{% blocktrans %}Movements{% endblocktrans %}</a></li>
{% endblock menu_active_inventory_movement %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Home{% endblocktrans %}</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">{% blocktrans %}Inventory{% endblocktrans %}</a></li>
{% endblock breadcrumb %}
{% block page_header_title %}{% blocktrans %}Inventory Movements{% endblocktrans %}{% endblock page_header_title %}
{% block page_header_sm_title %}{% blocktrans %}Here you can view Inventory Movements List{% endblocktrans %}{% endblock page_header_sm_title %}
{% block content %}
    {% include 'table_base.html' with info=dataTable %}
{% endblock content%}
{% block custom_js %}
	<link href="{% static 'plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'plugins/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" />

    <script src="{% static 'custom_type.js' %}"></script>
	<script src="{% static 'js/filters_fields.js' %}"></script>
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
		<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'plugins/datatables.net/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
	
	<script src="{% static 'plugins/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
	<script src="{% static 'plugins/datatables.net-buttons/js/buttons.print.min.js' %}"></script>

	<script src="{% static 'plugins/pdfmake/build/pdfmake.min.js' %}"></script>
	<script src="{% static 'plugins/pdfmake/build/vfs_fonts.js' %}"></script>
	<script src="{% static 'plugins/jszip/dist/jszip.min.js' %}"></script>
	<script src="{% static 'js/demo/table-manage-buttons.demo.js' %}"></script>
    <script src="{% static 'plugins/highlight.js/highlight.min.js' %}"></script>
    <script src="{% static 'js/demo/render.highlight.js' %}"></script>
{% endblock custom_js %}